{% extends "base.html" %}
{% block title %}GTPE ML Fall 2014 - Admin {% endblock %}
{% block menu %}
{% if student.usertype|stringformat:"s" == "superadmin"  %}
<li><a href="/grade">Grade</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">{{ title}}</div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Question</th>
            </tr>
        </thead>
    {% for i, q in questions.items %}
        <tbody>
            <tr>
            <td><a href="{{exam}}/q/{{ q.pk }}">{{ q.pk }}</a></td>
            <td>{{ q.text }}</td>
            </tr>
        </tbody>
    {% endfor %}
    </table>
</div>

{% endblock %}
