{% extends "base.html" %}
{% block title %}GTPE ML Fall 2014 - Admin {% endblock %}
{% block menu %}
{% if student.usertype|stringformat:"s" == "superadmin"  %}
<li><a href="/grade">Grade</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">{{title}} <br/>{{ s_response.0.question.pk }}. {{ s_response.0.question.text }}</div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Score</th>
                <th>Answers</th>
            </tr>
        </thead>
    {% for i, s in s_response.items %}
        <tbody>
            <tr>
            <td>{{ s.pk }}</a></td>
            <td>{{ s.score }}</td>
            <td>{{ s.answer }} <br />
                <small>By {{ s.student.userid }}</small>
            </td>
            </tr>
        </tbody>
    {% endfor %}
    </table>
</div>

{% endblock %}
