{% extends "base.html" %}
{% block title %}GTPE ML Fall 2014 - Admin {% endblock %}
{% block menu %}
{% if student.usertype|stringformat:"s" == "superadmin"  %}
<li><a href="/grade">Grade</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">{{title}} <br/>{{ tf_response.0.question.pk }}. {{ tf_response.0.question.text }}</div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Score</th>
                <th>Answers</th>
            </tr>
        </thead>
    {% for i, r in tf_response.items %}
        <tbody>
            <tr>
            <td>{{ r.pk }}</a></td>
            <td><a href="{{ exam }}/tflog/id/{{r.pk}}/score/0.0" class="ajax" data-method="post">0</a></td>
            <td><a href="{{ exam }}/tflog/id/{{r.pk}}/score/0.5" class="ajax" data-method="post">.5</a></td>
            <td><a href="{{ exam }}/tflog/id/{{r.pk}}/score/1.0" class="ajax" data-method="post">1</a></td>
            <td>{{ r.score }}</td>
            <td>
                <b>{{ r.tf }}</b>. {{ r.text }} <br />
                <small>By {{ r.student.userid }}</small>
            </td>
            </tr>
        </tbody>
    {% endfor %}
    </table>
</div>

<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">{{ title }} <br />{{ mc_response.0.question.pk }}. {{ mc_response.0.question.text }}</div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Score</th>
                <th>Answers</th>
            </tr>
        </thead>
    {% for i, r in mc_response.items %}
        <tbody>
            <tr>
            <td>{{ r.pk }}</a></td>
            <td><a href="{{ exam }}/mclog/id/{{r.pk}}/score/0.0">0</a></td>
            <td><a href="{{ exam }}/mclog/id/{{r.pk}}/score/0.0">1</a></td>
            <td>{{ r.score }}</td>
            <td>
                <ul class="list-group">
                    <li class="list-group-item {% if r.choice == 1 %}list-group-item-success{% endif %}">
                        {{ r.answer1.tf }}. {{ r.answer1.text }}
                    </li>
                    <li class="list-group-item {% if r.choice == 2 %}list-group-item-success{% endif %}">
                        {{ r.answer1.tf }}. {{ r.answer2.text }}
                    </li>
                    <li class="list-group-item {% if r.choice == 3 %}list-group-item-success{% endif %}">
                        Both are True
                    </li>
                    <li class="list-group-item {% if r.choice == 4 %}list-group-item-success{% endif %}">
                        Both are False
                        </li>
                </ul>
                <small>By {{ r.student.userid }}</small>
            </td>
            </tr>
        </tbody>
    {% endfor %}
    </table>
</div>
{% endblock %}

{% block javascripts %}
<script>
    $(function() {
        $("form").on("eldarion-ajax:success", function(e, $el, data) {
            $el.find("input[type=text]").val("");
        });
    })
</script>


{% endblock %}
