{% extends "base.html" %}
{% block title %}GTPE ML Fall 2014 - Exam {% endblock %}
{% block menu %}
<li><a href="/mcscheme/done">Finish Exam</a></li>
{% if student.usertype|stringformat:"s" == "superadmin"  %}
<li><a href="/mcscheme/admin">Admin</a></li>
{% endif %}
{% endblock %}

{% block accountmenu %}
<li><a href="#">{{ student.firstname }} {{ student.lastname }}</a></li>
<li><a href="#">User: {{ student.userid }}</a></li>
<li><a href="#">GTID: {{ student.gtid }}</a></li>
{% endblock %}

{% block content %}
<ul class="pagination">
    {% for i in total %}
        <li><a href="/mcscheme/update/{{ i }}">{{ i }}</a></li>
    {% endfor %}
</ul>
{% block examform %}{% endblock %}
{% endblock %}
