
<p>{{ message }}</p>
<form action="/mcscheme/exam/" method="post">{% csrf_token %}
    <p>Student: {{ student }}</p>
    <p>Question: {{ question }}</p>
    <div class="fieldWrapper">
    {{ form.answer_tf.errors }}
    <label for="answer_tf">T/F:</label>
    {% for radio in form.answer_tf %}
        {{ radio }}
    {% endfor %}
    </div>
    <div class="fieldWrapper">
    {{ form.answer.errors }}
    <label for="answer">Answer:</label>
    {{ form.answer }}
    </div>
    <p><input type="submit" value="Submit" /></p>
</form>
