<p><a href="/mcscheme/logout">Logout</a> | <a href="/mcscheme/done">Finish Exam</a></p>
<p>{{ message }}</p>
<form action="/mcscheme/exam/tf" method="post">{% csrf_token %}
    <!--<p>Student: {{ student }}</p>-->
    <p>{{ question }}</p>
    <div class="fieldWrapper">
    {{ form.answer_tf.errors }}
    <label for="answer_tf">T/F:</label>
    {% for radio in form.answer_tf %}
        {{ radio }}
    {% endfor %}
    </div>
    <div class="fieldWrapper">
    {{ form.answer.errors }}
    <label for="answer">Explanation:</label><br />
    {{ form.answer }}
    </div>
    <p><input type="submit" value="Submit" /></p>
</form>
