<p>{{ student.firstname }} {{ student.lastname }}
    ({{ student.userid }} / {{ student.gtid }})</p>
<p>{{ message }}</p>
<br />
<p>{{ tf_log.question_id }}. {{ question.text }}</p>
<p>
    <b>{{ answer_tf }}.</b>
    {{ tf_log.answer }}
</p>
<p>Score is {{ tf_log.score }}</p>
<p>Change score to</p>
<ul>
    <li><a href="/mcscheme/grade/tf/{{ tf_log.pk }}/1.0">1 (Correct)</a></li>
    <li><a href="/mcscheme/grade/tf/{{ tf_log.pk }}/0.5">0.5</a></li>
    <li><a href="/mcscheme/grade/tf/{{ tf_log.pk }}/0.0">0 (Incorrect)</a></li>
</ul>

<p><a href="{{ back }}">Back</a> | <a href="{{ next }}">Next</a></p>
