Django==2.2.18
dj-database-url>=0.5.0
dj-static>=0.0.6
gunicorn==19.5.0
psycopg2-binary
static3
requests>=2.13.0
sendgrid>=0.5.0
pytz==2013.7
djangoajax==2.3.3
urllib3
django-secure
django-sslserver
newrelic