{% extends "base.html" %}
{% block title %}GTPE ML Fall 2014 - UL Exam {% endblock %}
{% block menu %}
<li><a href="/{{ exam }}/done">Finish Exam</a></li>
{% endblock %}

{% block accountmenu %}
<li><a href="#">{{ student.firstname }} {{ student.lastname }}</a></li>
<li><a href="#">User: {{ student.userid }}</a></li>
<li><a href="#">GTID: {{ student.gtid }}</a></li>
{% endblock %}

{% block content %}
<ul class="pagination">
    {% for i in total %}
        <li><a href="/{{ exam }}/update/{{ i }}">{{ i }}</a></li>
    {% endfor %}
</ul>
{% block examform %}{% endblock %}
{% endblock %}
