{% extends "base-exam.html" %}
{% block examform %}
<form class="form-group" action="/{{ exam }}/exam/tf" method="post">{% csrf_token %}
    <p>{{ question }}</p>
    <b>Select True or False and explain your choice clearly.</b>
    <div class="form-group">
        <div class="fieldWrapper">
        <label for="answer_tf"></label>
        {% for radio in form.answer_tf %}
            <div class="radio">
            {{ radio }}
            </div>
        {% endfor %}
        </div>
        {{ form.answer_tf.errors }}
    </div>
    <div class="form-group">
        <div class="fieldWrapper">
        <label for="answer">Explanation:</label><br />
        {{ form.answer }}
        {{ form.answer.errors }}
        </div>
    </div>
    <div class="form-group">
        <p><input class="btn btn-default" type="submit" value="Submit" /></p>
    </div>
</form>
{% endblock %}
