<p>{{ student.firstname }} {{ student.lastname }}
    ({{ student.userid }} / {{ student.gtid }})</p>
<p>{{ message }}</p>
<br />
<p>Question: {{ mc_log.question_id }}. {{ question.text }}</p>
<ul>
    {% if mc_log.choice == 1 %}
    <li><b>{{ answer1_tf }}. {{ answer1.answer }}</b> ({{ answer1.score }})</li>
    {% else %}
    <li>{{ answer1_tf }}. {{ answer1.answer }} ({{ answer1.score }})</li>
    {% endif %}

    {% if mc_log.choice == 2 %}
    <li><b>{{ answer2_tf }}. {{ answer2.answer }}</b> ({{ answer2.score }})</li>
    {% else %}
    <li>{{ answer2_tf }}. {{ answer2.answer }} ({{ answer2.score }})</li>
    {% endif %}

    {% if mc_log.choice == 3 %}
    <li><b>Both are True</b></li>
    {% else %}
    <li>Both are True</li>
    {% endif %}

    {% if mc_log.choice == 4 %}
    <li><b>Both are False</b></li>
    {% else %}
    <li>Both are False</li>
    {% endif %}

</ul>

<p>Score is {{ mc_log.score }}</p>
<p>Change score to</p>
<ul>
    <li><a href="/sl/grade/mc/{{ mc_log.pk }}/1.0">1 (Correct)</a></li>
    <li><a href="/sl/grade/mc/{{ mc_log.pk }}/0.0">0 (Incorrect)</a></li>
</ul>

<p><a href="{{ back }}">Back</a> | <a href="{{ next }}">Next</a></p>
