{% extends "recommender_base.html" %}

{% block recommender_content %}
{% load mathjax %}
{% mathjax_scripts %}

<h4>Overview</h4>
<p>Recommendation Systems are increasingly becoming a popular application of Machine Learning in many industries. If you’ve used services like Amazon, Netflix or Pandora, you might notice their personalized recommendations which suggest you items to buy movies to watch or songs to listen to.</p>

<p>In this project we will recommend movies to users. We will use the MovieLens dataset (instructions to download the dataset are below) to create a recommendation engine like Netflix’s. We will then use the Clustering Algorithms we have learned earlier in the course to refine our engine to make better and better recommendations.</p>

<p>The assignment is divided into three parts:</p>
<ol>
<li>You will test your implementation on a small dataset with 4 users and 6 movies.</li>
<li>You will run your implementation on the training set given to you and make improvements to the recommendation engine using concepts you have learned in the video lessons. You will then run your implementation on a test set and submit your answers to our competition website. Your recommendations will be tested for accuracy with the actual recommendations we got from the users. You will be given a score (see below how it is calculated), which can be compared with your classmates scores.</li>
<li>You will get to read 3 of your classmates implementation of recommendation engine and improve your engine. When you read how they implemented their algorithm, you will be asked to review.</li>
</ol>

<h4>Grading</h4>
<p>You will be graded on each part of the assignments. Part 1 carries 20% of the grade, Part 2 carries 50% and Part 3 carries 30% of the grade.</p>

<h4>What are recommendation engines?</h4>
<p>Recommendation engines generally use two different techniques to make predictions:
Content-Based Systems examine properties of the items recommended. For example, if a Netflix user has watched many sci-fi movies, then recommend a movie from the “sci-fi” genre.
Collaborative Filtering Systems recommend items based on similarity measures between users and/or items. The items they recommend to a user are drawn from those preferred by similar users.  For example,  if an Amazon shopper places a toy robot in their cart, then a robot-themed Lego set is recommended because other shoppers who liked the toy robot also liked the Lego set.</p>

<h5>Collaborative Filtering</h5>

<p>We will start by mathematically formulating a recommendation engine framework.  In a recommendation-system application, there are two classes of entities, users and items. Users have preferences for certain items and these preferences must be discovered from the data. The data is represented as a utility matrix, a value that represents the rating given by that user for that item and is given for each user-item pair. The ratings can take a value between 1 to 5, representing the number of stars that the user gave as a rating for that item.</p>

<p>We will assume that the matrix is sparse, meaning that most of the entries are unknown.</p>

<p>Here is an example of a utility matrix, depicting four users: Ann, Bob, Carl and Doug. The available movie names are HP1, HP2 and HP3 for the Harry Potter movies,  and SW1, SW2 and SW3 for Star Wars episodes 1, 2 and 3.</p>

<p>The goal of the recommendation engine is to predict the blanks in a utility matrix. For example, how will <i>Ann rate SW2</i>?</p>

<p>In this assignment, you will be using the MovieLens dataset to create a utility matrix. Each of the users and items will be defined in the dataset itself.  You should download u.data, u.test, u.user, and u.item.  Check the entries in the README for each of these files to understand how they are formatted.</p>

<p>In order to make these predictions, we must first measure similarity of users or items from the rows and columns of the Utility Matrix. The data is too small to draw any reliable conclusions. Examine the preferences of Ann and Carl. They both have rated the same movie but have diametrically opposite opinions on it. We would expect that a good distance measure would set them far apart. We can use different similarity measures for this task, but in this project we will use the <a href="http://en.wikipedia.org/wiki/Pearson_product-moment_correlation_coefficient">Pearson Correlation Similarity Measure</a>.</p>
<p>Let \( r_{x,i} \) denote the rating given by user \( x \) to item \( i \). If  is the set of all items that two users \( x \)  and \( y \) have rated, then the Pearson Correlation Similarity Measure between the two users is given by</p>
$$
    pcs(x, y) = \frac{\sum_{i \in I} (r_{x,i} - \hat{r_x}) (r_{y,i} - \hat{r_y})} {\sum_{i \in I} (r_{x,i} - \hat{r_x})^2 (r_{y,i} - \hat{r_y})^2}
$$

<p>where \( r_x \) denotes the average rating given by user \( x \) to all items. To calculate rxwe only consider items that were rated by the user.</p>

<p>We still need to take an additional step to recommend items to users. One way of predicting the value of the utility matrix entry of the user U and item I is to find the n users most similar to U and average their ratings for item I, counting only those among the n similar users who have rated I. It is generally better to normalize the matrix first. That is, for each of the n users subtract their average rating for items from their rating for i. Average the difference for those users who have rated I, and then add this average to the average rating that U gives for all items. This normalization adjusts the estimate in the case that U tends to give very high or very low ratings.</p>

<p>For the <strong>first part</strong> of this project:</p>
<ol>
<li>Download the code base give to you from <a href="http://pushkar.github.io/recommendation_engine/">here</a>.</li>
<li>Fill up the code which is marked with YOUR_CODE_HERE.</li>
<li>Submit your code to t-square. Also submit a table where all the utility values in Table 1 are filled using your code. </li>
</ol>

<hr />
<h5>Clustering Users and Items</h5>

<p>It is difficult to detect the similarity between items and users because we have little information about user-item pairs in this sparse utility matrix. Even if two items belong to the same genre, they are likely to be very few users who bought or rated both. Similarly, even if two users both like a genre or multiple genres, they may not have bought any items to indicate that.</p>

<p>One way of dealing with this lack of data is to cluster items and/or users.  In this example, we will cluster similar movies.</p>

<p>After clustering the items, we can revise the utility matrix so the columns represent clusters of items and the entry for User U and Cluster C is the average rating that U gave to the members of Cluster C that U did individually rate. Note that U may have rated none of the cluster members in which case the entry for U and C is left blank. </p>

<p>For the <strong>second part</strong> of your project:</p>

<ol>
<li>Download the <a href="dataset">MovieLens Dataset</a>.</li>
<li>Cluster similar items and create a utility matrix.  Use k-means clustering and then the Expectation Maximization (EM) algorithm. Try difference values of k for k-means or choosing different number of gaussian mixtures for the EM algorithm.</li>
<li>Fill the new utility matrix using the Pearson Correlation Similarity Measure.</li>
<li>Test the ratings you get with the test set. Remember that for each user, you will first have to find out which cluster they belong to and then find their ratings.</li>
<li>You will submit your ratings to the competition website (link will come out later). A score will be calculated using root mean squared error.
$$
    \sum_{i=1}^{n} \sqrt{(\hat{x}^2 - x^2)}
$$
Here \( \hat{x} \) are the actual ratings and \( x \) is what your recommendation engine gave out.</li>
<li>Did using the clustering algorithms improve accuracy of your prediction? Explain briefly. For example, if you are using k-means for clustering, graph a plot of performance vs k. If you used EM algorithm, show how the performance changed when you varied parameters of your Gaussian mixture model.</li>
<li>You will submit this report <a href="report">here</a>.</li>
</ol>

<hr />
<p>For the <strong>third part</strong> of the project:</p>
<ol>
<li>You will get 3 (or less) reports from other students.</li>
<li>Study them and review them. You can also ask questions, you will get answers back. (You will be graded on both - reviews and how you answer the rebuttals)</li>
<li>Use what you have learnt and improve your recommendation engine. Submit your test set to the competition website (link will come out later).</li>
</ol>
<br />
<br />
<br />

{% endblock %}
