{% extends "recommender_base.html" %}

{% block recommender_content %}

<br />
<p>Current Score: {{ si.score }}</p>
<p>Submit prediction for <a href="https://raw.githubusercontent.com/pushkar/mmovielens/master/u.test">u.test</a> in this format. Here the first element is the <code>userid</code>, second is the <code>itemid</code> and third is the <code>rating</code>.</p>
<pre width="10px">
53,181,4
53,199,5
53,228,3
53,250,2
53,281,4
53,845,3
...
</pre>
<br />
<br />
<form class="form-group" action="prediction" method="post">{% csrf_token %}
    <div class="form-group">
        <div class="fieldWrapper">
        <label for="test_data">Prediction:</label><br />
        {{ form.test_data }}
        {{ form.test_data.errors }}
        </div>
    </div>
    <div class="form-group">
        <p><input class="btn btn-default" type="submit" value="Submit" /></p>
    </div>
</form>
{% endblock %}
