{% extends "assignment_base.html" %}

{% block assignment_menu %}
{% for ap in assignmentpages %}
<li><a href="/assignment/{{ ap.assignment_name }}/{{ ap.page_name }}">{{ ap.page_title }}</a></li>
{% endfor %}
<li><a href="/assignment/{{ assignmentpages.0.assignment_name }}/report">Submit Report</a></li>
<li><a href="/assignment/{{ assignmentpages.0.assignment_name }}/review">Review</a></li>
{% endblock %}

{% block assignment_content %}
<h2>{{ assignment.0.name }}</h2>
<br />
<p>Submit a link to your report. We advise you to write up your report in Google Docs and share the link here.</p>

<br />
<form class="form-group" action="report" method="post">{% csrf_token %}
    <div class="form-group">
        <div class="fieldWrapper">
        <label for="report_link">Link to Report:</label><br />
        {{ form.report_link }}
        {{ form.report_link.errors }}
        </div>
    </div>
    <div class="form-group">
        <p><input class="btn btn-default" type="submit" value="Submit" /></p>
    </div>
</form>
<br />
<p>Current Submission: <a href="{{ report_message }}">{{ report_message }}</a></p>
<p>Current Reviews:</b>
<ul>
{% for r in review %}
    <li><a href="review/{{ r.pk }}">Review {{ r.pk }}</a></li>
{% empty %}
<li>No reviews yet.</li>
{% endfor %}
</ul>
{% endblock %}
