{% extends "base.html" %}

{% block menu %}
{% endblock %}

{% block breadcrumb %}
<li><a href="{% url 'student:index' %}">Home</a></li>
<li><a href="{% url 'student:admin' %}">Admin</a></li>
<li class="active">Assignment Reviews</li>
{% endblock %}

{% block content %}
<p>Review Assignments:</p>

{% for student, data in reviews_data.items %}
{{student}}
    {% for assignment, reviews in data.items %}
    <ul>
        {{assignment}}
        {% for r in reviews %}
            <li><a href="{% url 'assignment:home' assignment.short_name %}?review={{r.pk}}">
            Review by {{r.assigned.firstname}} {{r.assigned.lastname}}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}
{% endfor %}


{% endblock %}
