{% autoescape off %}
<h4>Admin</h4>

<table class="table">
<thead>
<tr>
    <th><a href="{% url 'assignment:admin' a_name 'pk' %}" data-ajax="true" data-success="load_content">Review ID</a></th>
    <th><a href="{% url 'assignment:admin' a_name 'submission' %}" data-ajax="true" data-success="load_content">Submission</a></th>
    <th><a href="{% url 'assignment:admin' a_name 'assigned' %}" data-ajax="true" data-success="load_content">Assigned</a></th>
    <th><a href="{% url 'assignment:admin' a_name 'score' %}" data-ajax="true" data-success="load_content">Score</a></th>
</tr>
</thead>
<tbody>
  {% for r in reviews %}
  <tr>
      <td><a href="{% url 'assignment:review' a_name r.pk %}" data-ajax="true" data-success="load_content">{{r.pk}}</a></td>
      <td>{{r.submission.student}}</td>
      <td>{{r.assigned}}</td>
      <td>{{r.score}}</td>
  </tr>
  {% endfor %}
</tbody>
</table>

<script type="text/javascript">
  (function(window,undefined){
      History.Adapter.bind(window,'statechange',function(){
          var State = History.getState();
      });
      History.pushState({page:"admin"}, "Admin Page", "?page=admin&order_by={{order_by}}");
  })(window);


{% endautoescape %}
