{% autoescape off %}
<h4>Stats</h4>
<p>Submission Count: {{submission_count}}</p>
<p>Total Conversations in Reviews: {{convos_count}}</p>
<br />
<div id="barchart_material" style="width: 600px; height: 500px;"></div>
<h3>Stats</h3>
<p>Median: {{hist_scores_stats.median}}</p>
<p>Standard Deviation: {{hist_scores_stats.std}}</p>

<script type="text/javascript">
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Scores', 'n'],
      {% for scores, count in hist_scores.iteritems %}
      ['{{scores}}', '{{count}}'],
      {% endfor %}
    ]);
    var options = {
      chart: {
        title: 'Histogram of Scores',
        subtitle: '{{ap.0.assignment.name}}',
      },
      bars: 'vertical' // Required for Material Bar Charts.
    };
    var chart = new google.charts.Bar(document.getElementById('barchart_material'));
    chart.draw(data, options);
  }

  (function(window,undefined){
      History.Adapter.bind(window,'statechange',function(){
          var State = History.getState();
      });
      History.pushState({page:"stats"}, "Stats Page", "?page=stats");
  })(window);
  drawChart();
</script>

{% endautoescape %}
