{% for c in convo %}
<div class="panel panel-default">
  <div class="panel-body">
      {{ c.text | safe | urlize | linebreaks }}
  </div>
  <div class="panel-footer">
  <small>
      {{ c.student.firstname }}
      {% if c.student.usertype == "ta" %}
      (Archduke/TA)
      {% elif c.student.usertype == "superta" %}
      (Lord)
      {% endif %}
      <span class="pull-right"><!--Edit-->
        (Status: {{c.details.has_liked}})
        {% if c.details.has_liked == "False" %}
        <a href="{% url 'assignment:reviewconvo_addlike' a_name c.id %}" data-ajax="true" data-method="post" data-success="load_review_convo">Like</a>
        {% else %}
        <a href="{% url 'assignment:reviewconvo_removelike' a_name c.id %}" data-ajax="true" data-method="post" data-success="load_review_convo">Unlike</a>
        {% endif %}
        ({{c.details.total_likes}} people like this)
      {% if usertype == "ta" or usertype == "superta" %}
        | <a href="{% url 'assignment:delete_reviewconvo' a_name c.pk %}" data-ajax="true" data-method="post" data-success="load_review_convo">Delete</a>
      {% endif %}
      </span>
  </small>
  </div>
</div>
{% empty %}
<p>No discussion yet.</p>
{% endfor %}
</ul>
