{% autoescape off %}
<h4>Stats</h4>
<p>Submission Count: {{submission_count}}</p>
<p>Total Conversations in Reviews: {{convos_count}}</p>
{% if display %}
<p>Median: <b>{{hist_scores_stats.median}}</b></p>
<p>Standard Deviation: <b>{{hist_scores_stats.std}}</b></p>
<br />
<div id="histogram_scores" style="width: 800px; height: 600px;"></div>

<script type="text/javascript">
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Scores', 'n'],
      {% for score in scores %}
      ['', {{score}}],
      {% endfor %}
    ]);
    var options = {
         title: 'Histogram for {{ap.0.assignment}}',
         legend: { position: 'none' },
         chartArea: {left:20,top:50, width:'90%', height:'75%'},
         histogram: {bucketSize: 5},
       };
    var chart = new google.visualization.Histogram(document.getElementById('histogram_scores'));
    chart.draw(data, options);
  }
</script>
{% else %}
<br />
<p>Enough assignments are not graded to display stats.</p>
{% endif %}
<script type="text/javascript">
  (function(window,undefined){
      History.Adapter.bind(window,'statechange',function(){
          var State = History.getState();
      });
      History.pushState({page:"stats"}, "Stats Page", "?page=stats");
  })(window);
  {% if display %}
  drawChart();
  {% endif %}
</script>

{% endautoescape %}
