{% extends "assignment_pagebase.html" %}

{% block breadcrumb %}
<li><a href="{% url 'assignment:index' %}">Assignments</a></li>
<li class="active">{{ ap.0.assignment }}</li>
{% endblock %}


{% block assignment_content %}

<h2>{{ ap.0.assignment.name }}</h2>
<h4>Review Tasks</h4>
<ul class="list-group" style="width: 500px;">
    {% for r in review_assigned %}
    <li class="list-group-item" style="border-style:none; padding: 1px 1px;">{{ r.end | safe }}<a href="{% url 'assignment:review' a_name r.pk %}">Review {{ r.pk }}</a></li>
    {% empty %}
    <li>No reviews assigned to you yet.</li>
    {% endfor %}
</ul>

<h4>Reviews for your Submission</h4>
<ul class="list-group" style="width: 500px;">
    {% for r in review_submission %}
    <li class="list-group-item" style="border-style:none; padding: 1px 1px;">{{ r.end | safe }}<a href="{% url 'assignment:review' a_name r.pk %}">Review {{ r.pk }}</a></li>
    {% empty %}
    <li>No Reviews.</li>
    {% endfor %}
</ul>

<h4>Other</h4>
<ul class="list-group" style="width: 500px;">
    {% for r in review_permissions %}
    <li class="list-group-item" style="border-style:none; padding: 1px 1px;">{{ r.end | safe }}<a href="{% url 'assignment:review' a_name r.pk %}">Review {{ r.pk }} for {{ r.submission.student }}</a></li>
    {% empty %}
    <li>None.</li>
    {% endfor %}
</ul>

{% endblock %}
