<ul class="nav nav-bar">
    {% if review_assigned %}
    <li class="disabled"><a href="#"><b>Reviews Assigned to you</b></a></li>
    {% endif %}
    {% for r in review_assigned %}
    <li id="li_review_{{r.pk}}"><a href="{% url 'assignment:review' a_name r.pk %}" data-ajax="true" data-success="load_content">Review {{ r.pk }} {{ r.end | safe }} {% if r.assigned.usertype == "ta" %}(TA){% endif %}</a></li>
    {% endfor %}

    {% if review_submission %}
    <li class="disabled"><a href="#"><b>Reviews for your Submission</b></a></li>
    {% endif %}
    {% for r in review_submission %}
    <li><a href="{% url 'assignment:review' a_name r.pk %}" data-ajax="true" data-success="load_content">{{ r.end | safe }} Review {{ r.pk }} {% if r.assigned.usertype == "ta" %}(TA){% endif %}</a></li>
    {% endfor %}

    {% if review_permissions %}
    <li class="disabled"><a href="#"><b>Reviews you can View</b></a></li>
    {% endif %}
    {% for r in review_permissions %}
    <li><a href="{% url 'assignment:review' a_name r.pk %}" data-ajax="true" data-success="load_content">{{ r.end | safe }} Review {{ r.pk }} {% if r.assigned.usertype == "ta" %}(TA){% endif %}</a></li>
    {% endfor %}
</ul>
