{% autoescape off %}
<h4>Admin: Reviews</h4>
<small>
  <ul>
    <li><a href="{% url 'assignment:admin_reviews' a_name 'simple' order_by %}" data-ajax="true" data-success="load_content">All reviews for this assignment</a></li>
    <li><a href="{% url 'assignment:admin_reviews' a_name 'ta' order_by %}" data-ajax="true" data-success="load_content">Assigned to TAs only</a></li>
    <li><a href="{% url 'assignment:admin_reviews' a_name 'me' order_by %}" data-ajax="true" data-success="load_content">Assigned to me</a></li>
    <li><a href="{% url 'assignment:admin_reviews' a_name 'me_all' order_by %}" data-ajax="true" data-success="load_content">Assigned to my submissions</a></li>
  </ul>
</small>
<table class="table">
<thead>
<tr>
    <th><a href="{% url 'assignment:admin_reviews' a_name action 'pk' %}" data-ajax="true" data-success="load_content">Review ID</a> {% if order_by == "pk" %}&darr;{% endif %}</th>
    <th><a href="{% url 'assignment:admin_reviews' a_name action 'submission' %}" data-ajax="true" data-success="load_content">Submission</a> {% if order_by == "submission" %}&darr;{% endif %}</th>
    <th><a href="{% url 'assignment:admin_reviews' a_name action 'assigned' %}" data-ajax="true" data-success="load_content">Assigned</a> {% if order_by == "assigned" %}&darr;{% endif %}</th>
    <th><a href="{% url 'assignment:admin_reviews' a_name action 'score' %}" data-ajax="true" data-success="load_content">Score</a> {% if order_by == "score" %}&darr;{% endif %}</th>
</tr>
</thead>
<tbody>
  {% for r in reviews %}
  <tr>
      <td><a href="{% url 'assignment:review' a_name r.pk %}" data-ajax="true" data-success="load_content">{{r.pk}}</a></td>
      <td>{{r.submission.student}}</td>
      <td>{{r.assigned}}</td>
      <td>{{r.score}}</td>
  </tr>
  {% endfor %}
</tbody>
</table>

<script type="text/javascript">
  (function(window,undefined){
      History.Adapter.bind(window,'statechange',function(){
          var State = History.getState();
      });
      History.pushState({page:"admin"}, "Admin Page", "?page=admin&action={{action}}&order_by={{order_by}}");
  })(window);


{% endautoescape %}
