<h4>Submitted Files</h4>

<br />
<br />

<div class="row">
  <div class="col-md-5">
  </div>

  <div class="col-md-1">
  </div>
  <div class="col-md-6">
    <ul>
    {% for f_link, f_name in files.items %}
      <li><a href="{{f_link}}">{{f_name}}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>




<script type="text/javascript">
    (function(window,undefined){
        History.Adapter.bind(window,'statechange',function(){
            var State = History.getState();
        });

        History.pushState({page:"submission"}, "Submission Page", "?page=submission");
    })(window);

</script>
