{% extends "assignment_pagebase.html" %}

{% block breadcrumb %}
<li><a href="{% url 'assignment:index' %}">Assignments</a></li>
<li><a href="{% url 'assignment:home' a_name %}">{{ ap.0.assignment }}</a></li>
<li class="active">Review {{ review.pk }}</li>
{% endblock %}

{% block assignment_content %}
{% load mathjax %}
{% mathjax_scripts %}

<h2>{{ assignment }}</h2>

<h4>Review {{ review.pk }}</h4>
<h4>{{ review.0.submission }}</h4>
<ul>
    {% for f in files %}
    <li><a href="{{ f.link }}">{{ f.name }}</a></li>
    {% empty %}
    <li>No files.</li>
    {% endfor %}
</ul>

<br />
<h4>Score:</h4>
<p>The reviewer has assigned a score of <b>{{ review.score }}</b>. <br /><small>(Scores are between 1 (bad) - 5 (good). It does not reflect your final score. That will be decided by your TA independent of these reviews.)</small></p>
{% if allow_to_score %}
<p>Change score to: <a href="{% url 'assignment:submit_reviewscore' a_name review.pk "1" %}">1 (bad)</a>,
                    <a href="{% url 'assignment:submit_reviewscore' a_name review.pk "2" %}">2</a>,
                    <a href="{% url 'assignment:submit_reviewscore' a_name review.pk "3" %}">3</a>,
                    <a href="{% url 'assignment:submit_reviewscore' a_name review.pk "4" %}">4</a> or
                    <a href="{% url 'assignment:submit_reviewscore' a_name review.pk "5" %}">5 (good)</a>.</p>
{% endif %}
<br />
<h4>Discussion:</h4>
<ul class="list-group">
{% for c in convo %}
<li class="list-group-item">
    <span class="badge">
        {{ c.student.firstname }}
        {% if c.student.usertype == "ta" %}
        (TA)
        {% elif c.student.usertype == "superta" %}
        (The Lord)
        {% endif %}

    </span>
    {{ c.text | safe | urlize | linebreaks }}</p>
</li>
{% empty %}
<p>No discussion yet.</p>
{% endfor %}
</ul>

<br />
<p></p>
<form class="form-group" action="{% url 'assignment:submit_reviewconvo' a_name review.pk %}" method="post">{% csrf_token %}
    <div class="form-group">
        <div class="fieldWrapper">
            <label for="text">Enter Review:</label>
            {{ form.text }} {{ form.text.errors }}
            <small><br />(You can use Latex. Examples: Inline <code>\( x^2 \)</code> is \( x^2 \) or new line equations with <code>$$ \E = mc^2 $$</code>.</small>
        </div>
    </div>
    <div class="form-group">
        <p>
            <input class="btn btn-default" type="submit" value="Submit" />
        </p>
    </div>
</form>

{% endblock %}
