{% autoescape off %}
<h4>Admin: Stats</h4>
<br />
<div class="container-fluid">

{% for ta,ta_stats in tas_stats.items %}
<div class="row">
  <div class="col-md-2">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ta_stats.stats.completed}}%;">{{ta_stats.user.firstname}} {{ta_stats.user.lastname}}: {{ta_stats.stats.completed}}</div>
    </div>
    {% if student.usertype == "superta" %}
    <small>Reviews Assigned: {{ ta_stats.stats.total_assigned }}</small>
    {% endif %}
  </div>

  <div class="col-md-4">
    <small>
    <ul>
      <li>Mean: {{ta_stats.stats.mean}}</li>
      <li>Median: {{ta_stats.stats.median}}</li>
      <li>Std: {{ta_stats.stats.std}}</li>
    </ul>
    </small>
  </div>

  <div class="col-md-6">
    <div id="{{ta}}_hist" style="width:400px"></div>
  </div>
</div>
<hr />
{% endfor %}
</div>

<script type="text/javascript">
  function drawChart() {
    {% for ta,ta_stats in tas_stats.items %}
    var data_{{ta}} = google.visualization.arrayToDataTable([
      ['Scores', 'n'],
      {% for score in ta_stats.stats.scores %}
      ['', {{score}}],
      {% endfor %}
    ]);
    {% endfor %}
    var options = {
         title: '',
         legend: { position: 'none' },
         chartArea: {left:20,top:10, width:'90%', height:'75%'},
         vAxis: {ticks: [5,10,15,20]},
         histogram: {bucketSize: 5},
         hAxis: {gridlines: {count: 10},},
       };

    {% for ta,ta_stats in tas_stats.items %}
    var chart_{{ta}} = new google.visualization.Histogram(document.getElementById('{{ta}}_hist'));
    chart_{{ta}}.draw(data_{{ta}}, options);
    {% endfor %}
  }
</script>

<script type="text/javascript">
  (function(window,undefined){
      History.Adapter.bind(window,'statechange',function(){
          var State = History.getState();
      });
      History.pushState({page:"admin"}, "Admin Page", "?page=admin&action=stats");
      drawChart();
  })(window);


{% endautoescape %}
