{% extends "base.html" %}

{% block menu %}
{% endblock %}

{% block breadcrumb %}
<li><a href="{% url 'assignment:index' %}">Assignments</a></li>
<li class="active">{{ a.0.name }}</li>
{% endblock %}

{% block content %}
{% autoescape off %}
<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <div id="assignment_menu">
            <ul class="nav nav-bar">
                <li><a href="{% url 'assignment:home' a.0.short_name %}">Home</a></li>
                {% for page in pages %}
                {% if page.link|length > 0 %}
                    <li><a href="{{ page.link }}" data-ajax="true" data-success="load_content">{{ page.title }}</a></li>
                {% else %}
                    <li><a href="{% url 'assignment:page' a.0.short_name page.name %}" data-ajax="true" data-success="load_content">{{ page.title }}</a></li>
                {% endif %}
                {% endfor %}
                {% if a.0.enable_codework %}
                <li><a href="{% url 'assignment:code' a.0.short_name %}" data-ajax="true" data-success="load_content">Solve with Code</a></li>
                {% endif %}
            </ul>
        </div>

    </div>

    <div class="col-sm-9 main">
        <h2>{{ pages.0.assignment.name }}</h2>
        <div id="assignment_content"> </div>
    </div>
</div>

<script type="text/javascript">

    function load_div(url, div) {
      console.log("- load_div(,)")
        ajaxGet(url, function(content) {
            $(div).html(content)
        });
    }

    function load_content(content) {
        $('#assignment_content').html(content);
    }

    {{ extra_scripts }}
</script>
{% endautoescape %}
{% endblock %}
