<h4>Review {{ review.pk }}</h4>
<h4>{{ review.submission.student }}</h4>
<ul>
    {% for f_link, f_name in files.items %}
    <li><a href="{{ f_link }}">{{ f_name }}</a></li>
    {% empty %}
    <li>No files.</li>
    {% endfor %}
</ul>

<br />
<h4>Score:</h4>
<p>The reviewer has assigned a score of <b>{{ review.score }}</b>. <br />

{% if review.assigned.usertype == "student" %}
<small>
    <ul>
        <li>Score is 1: If the report is incomplete.</li>
        <li>Score is 2: If the report is complete, but the graphs are not properly labelled and the analysis is incomplete or missing.</li>
        <li>Score is 3: If the report has all experiments and is complete. However the report does not contain analysis: explanation of the results and graphs is missing.</li>
        <li>Score is 4: If the report has all experiments and contains analysis of all the results and graphs.</li>
        <li>Score is 5: If the report shows shows an original or new method of analysis the data. Or if the report helped you learn something that you could use in your own assignment.</li>
    </ul>
</small>
{% endif %}

{% if allow_to_score or usertype == "superta" %}
<p>Change score by:
    <a href="{% url 'assignment:submit_add_reviewscore' a_name review.pk "-10" %}" data-ajax="true" data-success="load_content">-10</a>,
    <a href="{% url 'assignment:submit_add_reviewscore' a_name review.pk "-5" %}" data-ajax="true" data-success="load_content">-5</a>,
    <a href="{% url 'assignment:submit_add_reviewscore' a_name review.pk "-2" %}" data-ajax="true" data-success="load_content">-2</a>,
    <a href="{% url 'assignment:submit_add_reviewscore' a_name review.pk "-1" %}" data-ajax="true" data-success="load_content">-1</a> or
    <a href="{% url 'assignment:submit_add_reviewscore' a_name review.pk "1" %}" data-ajax="true" data-success="load_content">+1</a>,
    <a href="{% url 'assignment:submit_add_reviewscore' a_name review.pk "2" %}" data-ajax="true" data-success="load_content">+2</a>,
    <a href="{% url 'assignment:submit_add_reviewscore' a_name review.pk "5" %}" data-ajax="true" data-success="load_content">+5</a>,
    <a href="{% url 'assignment:submit_add_reviewscore' a_name review.pk "10" %}" data-ajax="true" data-success="load_content">+10</a>,
    <a href="{% url 'assignment:submit_add_reviewscore' a_name review.pk "20" %}" data-ajax="true" data-success="load_content">+20</a>,
    </p>
{% else %}
<p>Change score to:
    <a href="{% url 'assignment:submit_reviewscore' a_name review.pk "1" %}" data-ajax="true" data-success="load_content">1 (bad)</a>,
    <a href="{% url 'assignment:submit_reviewscore' a_name review.pk "2" %}" data-ajax="true" data-success="load_content">2</a>,
    <a href="{% url 'assignment:submit_reviewscore' a_name review.pk "3" %}" data-ajax="true" data-success="load_content">3</a>,
    <a href="{% url 'assignment:submit_reviewscore' a_name review.pk "4" %}" data-ajax="true" data-success="load_content">4</a> or
    <a href="{% url 'assignment:submit_reviewscore' a_name review.pk "5" %}" data-ajax="true" data-success="load_content">5 (good)</a>.</p>
{% endif %}
<br />
{{review.0.submission}}

{% if username == review.assigned.username %}
<h4>Learning Record</h4>
<div id="learning_record" class="content">
  Learning Records
</div>
<script type="text/javascript">
  load_div("{% url 'record:form' review.submission.student.username a_name %}", "#learning_record");
</script>
{% endif %}
<br />
{% load mathjax %}
{% mathjax_scripts %}
<h4>Discussion:</h4>
<div id="reviewconvo" data-refresh-url="{% url 'assignment:review_convo' a_name review.pk %}">
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#convoModal">
    Add Review
</button>

<!-- Modal -->
<div class="modal fade" id="convoModal" tabindex="-1" role="dialog" aria-labelledby="convoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="convoModalLabel">Review</h4>
      </div>
      <div id="convoModalMessages">
      </div>
      <form id="convo-form" class="form-group" action="" method="post">{% csrf_token %}
          <div class="modal-body">
              <div class="form-group">
                  <div class="fieldWrapper">
                      <label for="text">Enter Review:</label><br />
                      {{ form.text }} {{ form.text.errors }}
                      <small><br />You can use Latex. Examples: Inline <code>\( x^2 \)</code> is \( x^2 \) or new line equations with <code>$$ \E = mc^2 $$</code>.</small>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">Close</button>
              <button class="btn btn-primary" type="submit" value="Submit">Save changes</button>
          </div>
      </form>
    </div>
  </div>
</div>


<script type="text/javascript">
    (function(window,undefined){

        // Bind to StateChange Event
        History.Adapter.bind(window,'statechange',function(){ // Note: We are using statechange instead of popstate
            var State = History.getState(); // Note: We are using History.getState() instead of event.state
        });

        // Change our States
        History.pushState({review:{{ review.pk }}}, "Review {{ review.pk }}", "?review={{ review.pk }}"); // logs {state:1}, "State 1", "?state=1"
    })(window);

    function load_review_convo() {
        ajaxGet( $('#reviewconvo').attr('data-refresh-url'), function(content) {
            $('#reviewconvo').html(content)
        });
        load_review_menu();
        load_messages();
    }

    // Submit post on submit
    $('#convo-form').on('submit', function(event){
        event.preventDefault();
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "{% url 'assignment:submit_reviewconvo' a_name review.pk %}",
            data: { text : $('#id_text').val().replace(/[^\x00-\x7F]/g, ""), },
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            },
            success: function(result) {
                load_review_convo();
                $('#convo-form')[0].reset();
            },
            error : function(xhr, errmsg, err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+ errmsg +
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        })
    });

    load_review_convo();
</script>
