{% extends "base.html" %}

{% block menu %}
{% endblock %}

{% block breadcrumb %}
<li><a href="{% url 'assignment:index' %}">Assignments</a></li>
<li class="active">{{ ap.0.assignment }}</li>
{% endblock %}

{% block content %}
{% autoescape off %}
<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <div id="assignment_menu">
            <ul class="nav nav-bar">
                <li><a href="{% url 'assignment:home' a_name %}">Home</a></li>
                <li><a href="{% url 'assignment:stats' a_name %}" data-ajax="true" data-success="load_content">Stats</a></li>
                {% for page in ap %}
                {% if page.link|length > 0 %}
                    <li><a href="{{ page.link }}" data-ajax="true" data-success="load_content">{{ page.title }}</a></li>
                {% else %}
                    <li><a href="{% url 'assignment:page' a_name page.name %}" data-ajax="true" data-success="load_content">{{ page.title }}</a></li>
                {% endif %}
                {% endfor %}
                <li class="disabled"><a href="#"><b>Actions</b></a></li>
                {% if student.usertype == "ta" or student.usertype == "superta" %}
                <li><a href="{% url 'assignment:admin' a_name 'assigned' %}" data-ajax="true" data-success="load_content">Admin</a></li>
                {% endif %}
                {% if submission %}
                <li><a href="{% url 'assignment:find_reviewers' a_name submission.pk %}">Find Reviewers</a></li>
                <li><a href="{% url 'assignment:find_reviews' a_name submission.pk %}">Find Submissions to Review</a></li>
                {% endif %}
            </ul>
        </div>

        <div id="assignment_review_menu">
        </div>

    </div>

    <div class="col-sm-9 main">

        <h2>{{ ap.0.assignment.name }}</h2>
        <div id="assignment_content">
            <h4>Home</h4>
            <br />
            {% if submission %}
            <h4>Submission</h4>
            <p>{{submission}}</p>
            <ul>
            {% for f_link, f_name in submission.files.items %}
              <li><a href="{{f_link}}">{{f_name}}</a></li>
            {% endfor %}
            </ul>
            <br />
            {% endif %}
        </div>
    </div>
</div>

<script type="text/javascript">

    function load_div(url, div) {
        ajaxGet(url, function(content) {
            $(div).html(content)
        });
    }

    function load_review_menu() {
        ajaxGet("{% url 'assignment:review_menu' a_name %}", function(content) {
            $('#assignment_review_menu').html(content)
        });
    }

    function load_content(content) {
        $('#assignment_content').html(content);
    }

    load_review_menu();

    {{ extra_scripts }}
</script>
{% endautoescape %}
{% endblock %}
