<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ global.site_name }}{% endblock %}</title>
    {% load staticfiles %}
    <link href="{% static "style/dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <style>
    .alert {
        padding: 8px 25px 8px 14px;
    }
    .breadcrumb {
        font-size: 10pt;
    }
    .spinner {
      position: fixed;
      top: 60px;
      left: 45%;
      margin-left: -50px;
      margin-top: -50px;
      text-align:center;
      z-index:1234;
      overflow: auto;
    }
    </style>

    <script type="text/javascript" src="{% static "style/jquery/2.1.3/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "style/django_ajax/js/jquery.ajax.min.js" %}"></script>
    <script type="text/javascript" src="{% static "style/django_ajax/js/jquery.ajax-plugin.min.js" %}"></script>
    <script type="text/javascript" src="{% static "style/jquery.cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "style/jquery.history.js" %}"></script>

    <script type="text/javascript">
        var csrftoken = $.cookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            async: false,
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        function load_div(div_id) {
            div_name = '#' + div_id;
            console.log(" - load " + div_id + " with " + $(div_name).attr('data-refresh-url'));
            ajaxGet( $(div_name).attr('data-refresh-url'), function(content) {
                $(div_name).html(content)
            });
        }

        function load_messages() {
            console.log(" - load_messages");
            if($("#convoModal").length) {
                if($("#convoModal").hasClass('in')) {
                    ajaxGet( $('#messages').attr('data-refresh-url'), function(content) {
                        $('#convoModalMessages').html(content)
                    });
                    return true
                }
            }
            ajaxGet( $('#messages').attr('data-refresh-url'), function(content) {
                $('#messages').html(content)
            });
        }

      $(document).ready(function(){
            $("#spinner").bind("ajaxSend", function() {
                $(this).show();
            }).bind("ajaxStop", function() {
                $(this).hide();
            }).bind("ajaxError", function() {
                $(this).hide();
            });
        });
        </script>

</head>

<body>
  <div id="spinner" class="spinner" style="display:none;">
    <img id="img-spinner" src="{% static "style/pacman.gif" %}" alt="Loading" style="width:35%;" />
  </div>
    <div class="container" style="width:100%">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'student:index' %}">Home</a></li>
                {% if assignments %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Assignments<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {% for a in assignments %}
                        <li><a href="{% url 'assignment:home' a.short_name %}">{{a.name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
                {% block menu %}{% endblock %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {% block accountmenu %}{% endblock %}
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'student:admin' %}">Admin</a></li>
                        <li><a href="/admin">Django</a></li>
                        {% endif %}
                        <li><a href="{% url 'student:profile' %}">My Profile</a>
                        <li><a href="{% url 'student:logout' %}">Logout</a>
                        </li>
                    </ul>
                </li>
                <li><a href="{% url 'student:about' %}">About</a></li>
            </ul>
        </nav>
    </div>
    <div class="container" style="width:100%">
        <br />
        <br />
        <br />
        <div id="breadcrumb">
            <ol class="breadcrumb">
              {% block breadcrumb %}{% endblock %}
            </ol>
        </div>

        <div id="messages" class="content" data-refresh-url="{% url 'student:messages_all' %}">
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
            {% endif %}
        </div>

        {% block content %}{% endblock %}
        <script type="text/javascript" src="{% static "style/jquery/2.1.3/jquery.min.js" %}"></script>
        <script type="text/javascript" src="{% static "style/dist/js/bootstrap.min.js" %}"></script>
        <script type="text/javascript" src="{% static "style/eldarion-ajax.min.js" %}"></script>
    </div>

    {% block javascripts %} {% endblock %}
</body>

</html>
