<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}ML Fall 2015 Peer Grading{% endblock %}</title>
    {% load staticfiles %}
    <!-- Bootstrap -->
    <!--<link href="{% static "dist/css/bootstrap.min.css" %}" rel="stylesheet">-->
    <link href="https://s3.amazonaws.com/static-style/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
    .alert {
        padding: 8px 25px 8px 14px;
    }
    .breadcrumb {
        font-size: 10pt;
    }
    </style>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/static-style/django_ajax/js/jquery.ajax.min.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/static-style/django_ajax/js/jquery.ajax-plugin.min.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/static-style/jquery.cookie.js"></script>
    <script src="https://s3.amazonaws.com/static-style/jquery.history.js"></script>
    <script src="https://s3.amazonaws.com/static-style/dist/ChartNew.js"></script>
    <script type="text/javascript">
        var csrftoken = $.cookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        function load_div(div_id) {
            div_name = '#' + div_id;
            ajaxGet( $(div_name).attr('data-refresh-url'), function(content) {
                $(div_name).html(content)
            });
        }

        function load_messages() {
            console.log(" - load_messages")
            if($("#convoModal").length) {
                if($("#convoModal").hasClass('in')) {
                    ajaxGet( $('#messages').attr('data-refresh-url'), function(content) {
                        $('#convoModalMessages').html(content)
                    });
                    return true
                }
            }
            ajaxGet( $('#messages').attr('data-refresh-url'), function(content) {
                $('#messages').html(content)
            });
        }
    </script>

</head>

<body>
    <div class="container" style="width:100%">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'student:index' %}">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Assignments<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {% for a in assignments %}
                        <li><a href="{% url 'assignment:home' a.short_name %}">{{a.name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% block menu %}{% endblock %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {% block accountmenu %}{% endblock %}
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'student:admin' %}">Admin</a></li>
                        <li><a href="/admin">Backend Admin</a></li>
                        {% endif %}
                        <li><a href="{% url 'student:profile' %}">My Profile </a>
                        <li><a href="{% url 'student:updates' %}">Updates </a>
                        <li><a href="{% url 'student:logout' %}">Logout </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container" style="width:100%">
        <br />
        <br />
        <br />
        <div id="breadcrumb">
            <ol class="breadcrumb">
              {% block breadcrumb %}{% endblock %}
            </ol>
        </div>

        <div id="messages" class="content" data-refresh-url="{% url 'student:messages_all' %}">
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
            {% endif %}
        </div>

        {% block content %}{% endblock %}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <!--<script src="{% static "dist/js/bootstrap.min.js" %}"></script>-->
        <script src="https://s3.amazonaws.com/static-style/dist/js/bootstrap.min.js"></script>
        <script src="https://s3.amazonaws.com/static-style/eldarion-ajax.min.js"></script>
    </div>

    {% block javascripts %} {% endblock %}
</body>

</html>
