<p>Deadline: {{deadline}} {{time_left}}</p>
<br />
{% if solutions %}
<p>Solve the problem for the following inputs:</p>
{% endif %}

{% for sol_pk, sol_data in solutions.items %}
<form id="code-{{sol_pk}}-form" class="form-group" action="" method="post">{% csrf_token %}
  <div class="row">

    <div class="col-md-6">
      <div class="form-group">
        <b>Input:</b> <br />
        {% autoescape off %}{{ sol_data.input }}{% endautoescape %}
        <br />
      </div>

      <div class="form-group">
        <label for="output-{{sol_pk}}">Output:</label>
        <textarea class="form-control" rows="3" id="output-{{sol_pk}}">{{sol_data.output_submitted}}</textarea>
        <small class="text-muted">
          <b>{{ sol_data.check }}</b>
        </small>
      </div>
      {% if submit_late %}
      <div class="form-group">
        <div class="checkbox">
          <label><input type="checkbox" id="submit_late-{{sol_pk}}" value="late">Submit Late</label>
        </div>
      </div>
      {% endif %}
      <div class="form-group">
        <button type="submit" name="submit-{{sol_pk}}" class="btn btn-default">Check</button>
      </div>
    </div>
  </div>
</form>

<script type="text/javascript">
$('#code-{{sol_pk}}-form').submit(function(event){
    event.preventDefault();
    $.ajax({
        type: "POST",
        dataType: "json",
        url: "{% url 'codework:update' sol_pk %}",
        data: {
                submit_late:$('#submit_late-{{sol_pk}}').is(":checked"),
                output:$('#output-{{sol_pk}}').val(),
              },
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        },
        success: function(result) {
            load_div("{% url 'codework:work' a_name %}", '#assignment_content');
        },
        error : function(xhr, errmsg, err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+ errmsg +
                " <a href='#' class='close'>&times;</a></div>");
            console.log(xhr.status + ": " + xhr.responseText);
        }
    })
});
</script>
{% endfor %}

<script type="text/javascript">
    (function(window,undefined){
        History.Adapter.bind(window,'statechange',function(){
            var State = History.getState();
        });
        History.pushState({code:"{{ a_name }}"}, "Code {{ a_name }}", "?code={{ a_name }}");
    })(window);

    load_messages();
</script>
