{% extends "base.html" %}

{% block menu %}
{% endblock %}

{% block breadcrumb %}
<li class="active">Home</li>
{% endblock %}

{% block content %}

{% if student %}
{% autoescape off %}
<p>Welcome {{ student.firstname }} {{ student.lastname }}!</p>
<ul>
    <li><a href="{% url 'assignment:index' %}">Go to Assignments</a>.</li>
    <li>Check your <a href="{% url 'student:profile' %}">Profile</a> and <a href="{% url 'student:updates' %}">Updates</a> under Account.</li>
</ul>
<p>Peer Review program</p>
<ul>
    {% if opt == "opted out" %}
    <li style="width:500px">The peer review program enables you to participate in peer reviewing your peers. On top of that it will also monitor other activies such as how many times you use the peer review system, how your reviews are perceived by your peers. </li>
    <li style="width:500px">Participating in peer review will not directly affect your grade, but we will consider it as class participation. It will matter if you fall between grades.</li>
    <li style="width:500px">By signing up, you agree to help your peers with evaluating their work.</li>
    <li><a href="{% url 'student:optin' %}">Ok, sign me up.</a></li>
    {% else %}
    <li>You have {{opt}} in the peer review program.</li>
    {% endif %}
</ul>
<small>If you have any questions regarding this, you should email Pushkar Kolhe (pushkar@cc.gatech.edu) or leave a message on Piazza.</small>
{% endautoescape %}

{% if student.usertype == "superta" %}
<p>You are a Super TA. Respect!</p>

{% elif student.usertype == "ta" %}
<p>You are a TA!</p>

{% endif %}

{% elif form %}
<form class="form-horizontal" action="{% url 'student:login' %}" method="post">{% csrf_token %}
    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">GTUser</label>
        <div class="col-sm-10">
            {{ form.username }}
        </div>
    </div>
    <div class="form-group">
        <label for="gtid" class="col-sm-2 control-label">GTID</label>
        <div class="col-sm-10">
            {{ form.gtid }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" value="Submit" class="btn btn-default">Sign in</button>
        </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <p><br /><a href="{% url 'student:pass_request' %}"> Forgot GTID?</a></p>
        </div>
    </div>
    </div>
</form>

{% elif passform %}
<form class="form-horizontal" action="{% url 'student:pass_request' %}" method="post">{% csrf_token %}
    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">GTUser</label>
        <div class="col-sm-10">
            {{ passform.username }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" value="Send GTID" class="btn btn-default">Send GTID</button>
        </div>
    </div>
</form>
<p><small>This feature might be a bit buggy!<br />If it doesn't send you an email, contact your TA.</small></p>

{% else %}
<div class="alert alert-error" role="alert">Something went wrong. Try to logout and then try again.</div>
{% endif %}

{% endblock %}
