{% extends "base.html" %}

{% block menu %}
{% endblock %}

{% block breadcrumb %}
<li class="active">Home</li>
{% endblock %}

{% block content %}

{% if student %}
{% autoescape off %}
<p>Welcome {{ student.firstname }} {{ student.lastname }}!</p>

{% if student.usertype == "student" %}
<h4>Consent for Peer Grading research</h4>
<ul>
    {% if student.optin %}
    <li>Thank you for signing up for the peer review program.</li>
    {% else %}
    <li style="width:500px">What the study is about: You are invited to take part in a research study for evaluating peer grading methods for online education. The study creates exams which are graded by peers. The study will consist of analyzing peer grading to determine the feasibility of machine learning techniques to evaluate students. The study will lead to creation of almost real time evaluation systems that will help students in online classes learn faster and better.</li>
    <li style="width:500px">What you will be asked to do: You will be asked to solve quizzes. Each of them will take less than an hour. You will also be asked to fill out a survey providing us feedback on this quiz.</li>
    <li style="width:500px">Risks and benefits: The risks involved are no greater than those involved in regular school activities. If you choose to be in the study you can withdraw at any time without consequences of any kind. You are not likely to personally benefit from participation in this study. However, your participation will help contribute to a greater understanding of feasibility of peer evaluation systems in online courses.</li>
    <li style="width:500px">Your participation will be confidential: Your participation and evaluation will remain private and confidential from the researchers, teachers and teaching assistants. Any data collected will not be used in your course evaluation criteria. Any report of this research that is made available to the public will not include your name or any other individual information by which you could be identified.</li>
    <li style="width:500px">If you have questions or summary of the study results, contact me at pushkar@cc.gatech.edu.</li>
    <li style="width:500px">By signing up, you agree that you have read the above information. I affirm that I am 18 years of age or older. I consent to take part in the research study of evaluating peer grading methods for online education.</li>
    <li><a href="{% url 'student:optin' %}">Ok, sign me up.</a></li>
    {% endif %}
</ul>
{% endif %}
{% endautoescape %}

{% if student.usertype == "superta" %}
<p>You are a Super TA. Respect!</p>

{% elif student.usertype == "ta" %}
<p>You are a TA!</p>

{% endif %}

{% elif form %}
<form class="form-horizontal" action="{% url 'student:login' %}" method="post">{% csrf_token %}
    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">GTUser</label>
        <div class="col-sm-10">
            {{ form.username }}
        </div>
    </div>
    <div class="form-group">
        <label for="gtid" class="col-sm-2 control-label">GTID</label>
        <div class="col-sm-10">
            {{ form.gtid }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" value="Submit" class="btn btn-default">Sign in</button>
        </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <p><br /><a href="{% url 'student:pass_request' %}"> Forgot GTID?</a></p>
        </div>
    </div>
    </div>
</form>

{% elif passform %}
<form class="form-horizontal" action="{% url 'student:pass_request' %}" method="post">{% csrf_token %}
    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">GTUser</label>
        <div class="col-sm-10">
            {{ passform.username }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" value="Send GTID" class="btn btn-default">Send GTID</button>
        </div>
    </div>
</form>
<p><small>This feature might be a bit buggy!<br />If it doesn't send you an email, contact your TA.</small></p>

{% else %}
<div class="alert alert-error" role="alert">Something went wrong. Try to logout and then try again.</div>
{% endif %}

{% endblock %}
