{% extends "base.html" %}

{% block menu %}
{% endblock %}

{% block breadcrumb %}
<li><a href="{% url 'student:index' %}">Home</a></li>
<li class="active">Profile</li>
{% endblock %}


{% block content %}

<h3>Personal Details</h3>
<p>Name: {{ student.firstname }} {{ student.lastname }}</p>
<p>User: {{ student.username }}</p>
<p>Email: {{ student.email }}</p>
<p>T-sq Email: {{ student.email_tsq }}</p>

{% if student.usertype == "student" %}
<p>Opted in Peer Review? {{ opt.value }}</p>

{% elif student.usertype == "superta" %}
<p>You are a Super TA. Respect!</p>

{% elif student.usertype == "ta" %}
<p>You are a TA!</p>

{% endif %}

{% endblock %}
