{% extends "base.html" %}

{% block menu %}
{% endblock %}

{% block breadcrumb %}
<li><a href="{% url 'student:index' %}">Home</a></li>
<li class="active">Profile</li>
{% endblock %}


{% block content %}

<h3>Personal Details</h3>
<p>Name: {{ student.firstname }} {{ student.lastname }}</p>
<p>User: {{ student.username }}</p>
<p>Email: {{ student.email }}</p>
<p>Opted in Peer Review? {{ opt.value }}</p>

<h3>Assignments and Reviews</h3>
<br />
{% for student, data in reviews_data.items %}
    {% for assignment, reviews in data.items %}
    <ul>
        {{assignment}}
        {% for r in reviews %}
            <li><a href="{% url 'assignment:home' assignment.short_name %}?review={{r.pk}}">
            Review by {{r.assigned.firstname}} {{r.assigned.lastname}}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}
{% endfor %}

{% for student, data in assigned_data.items %}
    {% for assignment, reviews in data.items %}
    <ul>
        {{assignment}}
        {% for r in reviews %}
            <li><a href="{% url 'assignment:home' assignment.short_name %}?review={{r.pk}}">
            Review for {{r.submission.student.firstname}} {{r.submission.student.lastname}}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}
{% endfor %}


{% endblock %}
