{% if page == "index" %}
  <p>Profession: {{ details.profession }}</p>
  <p>Company: {{ details.company }}</p>
  <p>Objectives: <ul>{% for obj in details.objectives %}<li>{{obj}}</li>{% endfor %}</ul></p>
  <p>Other: {{ details.details }}</p>
{% elif page == "form" %}
  <form id="record-details-form" class="form-horizontal" action="" method="post">{% csrf_token %}
    <div class="form-group">
      <label for="profession" class="col-sm-2 control-label">Profession</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="profession" id="profession" value="{{ details.profession }}">
        </div>
    </div>
    <div class="form-group">
      <label for="company" class="col-sm-2 control-label">Company</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="company" id="company" value="{{ details.company }}">
        </div>
    </div>
    <div class="form-group">
      <label for="other" class="col-sm-2 control-label">Other</label>
        <div class="col-sm-10">
          <textarea class="form-control" name="other" id="other" rows="3">{{ details.details }}</textarea>
        </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" name="submit_button" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>

  <script type="text/javascript">
  $('#record-detail-form').on('change', function(event){
    alert('hi');
      event.preventDefault();
      $.ajax({
          type: "POST",
          dataType: "json",
          url: "{% url 'record:details' 'update' %}",
          data: {
                  profession:$('profession', '#record-details-form').val(),
                  company:$('company', '#record-details-form').val(),
                  other:$('other', '#record-details-form').val(),
                },
          beforeSend: function(xhr, settings) {
            alert(data);
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          },
          success: function(result) {
              load_messages();
          },
          error : function(xhr, errmsg, err) {
              $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+ errmsg +
                  " <a href='#' class='close'>&times;</a></div>");
              console.log(xhr.status + ": " + xhr.responseText);
          }
      })
  });
  </script>
{% endif %}
