<h2>Record Form</h2>
{{record.student}}
<br />
<ul>
    {% for key, item in record.details.items %}
    <li>
      {{key}}:
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Yes" {% if item == "Yes" %}checked{% endif %}> Yes
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="May be" {% if item == "Yes" %}checked{% endif %}> May be
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="No"> No
      </label>
    </li>
    {% endfor %}
</ul>
