{% extends "assignment_pagebase.html" %}

{% block breadcrumb %}
<li><a href="{% url 'assignment:index' %}">Assignments</a></li>
<li><a href="{% url 'assignment:home' a_name %}">{{ assignment.name }}</a></li>
<li class="active">Leaderboard</li>
{% endblock %}


{% block assignment_content %}
<h4>Leaderboard</h4>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Score</th>
        </tr>
    </thead>
    {% for s in score %}
    <tbody>
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ s }}</td>
            <td>{{ s.value }}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock %}
