<h4>Leaderboard</h4>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Score</th>
        </tr>
    </thead>
    {% for s in score %}
    <tbody>
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ s }}</td>
            <td>{{ s.value }}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>

<script type="text/javascript">
    (function(window,undefined){

        // Bind to StateChange Event
        History.Adapter.bind(window,'statechange',function(){ // Note: We are using statechange instead of popstate
            var State = History.getState(); // Note: We are using History.getState() instead of event.state
        });

        // Change our States
        History.pushState({page:"leaderboard"}, "Leaderboard Page", "?page=leaderboard"); // logs {state:1}, "State 1", "?state=1"
    })(window);

</script>
