{% extends "base.html" %}
{% block title %}GTPE ML Fall 2014 - Home {% endblock %}
{% block menu %}
{% if student.usertype|stringformat:"s" == "superadmin"  %}
<li><a href="/grade">Grade</a></li>
{% endif %}
{% endblock %}
{% block content %}

{% if student %}
{% autoescape off %}
<p>Welcome {{ student.firstname }} {{ student.lastname }}!</p>
<ul>
<li>{{ sl_link }}</li>
<li>{{ ul_link }}</li>
<li>{{ rl_link }}</li>
<li><a href="/recommender">Movie Recommendations Assignment</a>.</li>
</ul>
{% endautoescape %}
{% elif form %}


<form class="form-horizontal" action="/student/login" method="post">{% csrf_token %}
  <div class="form-group">
    <label for="userid" class="col-sm-2 control-label">GTUser</label>
    <div class="col-sm-10">
      {{ form.userid }}
    </div>
  </div>
  <div class="form-group">
    <label for="gtid" class="col-sm-2 control-label">GTID</label>
    <div class="col-sm-10">
      {{ form.gtid }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" value="Submit" class="btn btn-default">Sign in</button>
    </div>
  </div>
</form>
{% else %}
<div class="alert alert-error" role="alert">Something went wrong. Try to logout and then try again.</div>
{% endif %}

{% endblock %}
